<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{ guideTour.name }}</h5>-->
<!--    <p class="card-text">{{ guideTour.description }}</p>-->
<!--    <p class="card-text"><strong>Location:</strong> {{ guideTour.location }}</p>-->
<!--    <p class="card-text"><strong>Price:</strong> {{ guideTour.price }}</p>-->
<!--    <p class="card-text"><strong>Availability:</strong> {{ guideTour.availability ? 'Available' : 'Not Available' }}</p>-->
<!--  </div>-->
<!--</div>-->

